<a href="https://colab.research.google.com/github/2003DEE/DEEPAK/blob/main/EMPLOYEE_CHRUN_MODEL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***EMPLOYEE CHRUN MODEL***

---

In [ ]:
import pandas as pd
import numpy as np

CREATING DATAFRAME

---

In [ ]:
data=pd.read_csv('/content/HR_comma_sep (1).csv')
data.head(115)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
110,0.43,0.47,2,144,3,0,1,0,hr,medium
111,0.09,0.85,6,289,4,0,1,0,hr,high
112,0.43,0.52,2,160,3,0,1,0,technical,low
113,0.90,0.96,4,258,5,0,1,0,technical,medium
114,0.84,1.00,5,234,5,0,1,0,technical,medium

CONVERTING QUALTITATIVE ATTRIBUTES TO QUANTITATIVE ATTRIBUTES


---

In [ ]:
from sklearn import preprocessing
label=preprocessing.LabelEncoder()
data['salary']=label.fit_transform(data['salary'])
data['Department']=label.fit_transform(data['Department'])

In [ ]:
data.head(115)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,7,1
1,0.80,0.86,5,262,6,0,1,0,7,2
2,0.11,0.88,7,272,4,0,1,0,7,2
3,0.72,0.87,5,223,5,0,1,0,7,1
4,0.37,0.52,2,159,3,0,1,0,7,1
...,...,...,...,...,...,...,...,...,...,...
110,0.43,0.47,2,144,3,0,1,0,3,2
111,0.09,0.85,6,289,4,0,1,0,3,0
112,0.43,0.52,2,160,3,0,1,0,9,1
113,0.90,0.96,4,258,5,0,1,0,9,2
114,0.84,1.00,5,234,5,0,1,0,9,2

In [ ]:
  y=data['left']
  X=data.drop('left',axis=1)

In [ ]:
X.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,0,7,1
1,0.80,0.86,5,262,6,0,0,7,2
2,0.11,0.88,7,272,4,0,0,7,2
3,0.72,0.87,5,223,5,0,0,7,1
4,0.37,0.52,2,159,3,0,0,7,1

SPLITTING THE DATASET INTO TRAINING SET AND TESTING SET

---

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.35,random_state=10)

DEPLOY MODEL

---

In [ ]:
from sklearn.neural_network import MLPClassifier
cls=MLPClassifier(hidden_layer_sizes=(100,5),verbose=True,random_state=10,learning_rate_init=0.01)
cls.fit(X_train,y_train)
y_pred=cls.predict(X_test)

Iteration 1, loss = 1.45641512
Iteration 2, loss = 0.56564079
Iteration 3, loss = 0.53687800
Iteration 4, loss = 0.53899641
Iteration 5, loss = 0.52330988
Iteration 6, loss = 0.49946401
Iteration 7, loss = 0.47729846
Iteration 8, loss = 0.48288388
Iteration 9, loss = 0.40153472
Iteration 10, loss = 0.37348403
Iteration 11, loss = 0.41096842
Iteration 12, loss = 0.38431384
Iteration 13, loss = 0.40501185
Iteration 14, loss = 0.36258444
Iteration 15, loss = 0.36011323
Iteration 16, loss = 0.35744521
Iteration 17, loss = 0.35189615
Iteration 18, loss = 0.34862399
Iteration 19, loss = 0.35576018
Iteration 20, loss = 0.35926588
Iteration 21, loss = 0.34797475
Iteration 22, loss = 0.34434112
Iteration 23, loss = 0.32942752
Iteration 24, loss = 0.32494317
Iteration 25, loss = 0.34078510
Iteration 26, loss = 0.30692072
Iteration 27, loss = 0.30161764
Iteration 28, loss = 0.31045205
Iteration 29, loss = 0.30861990
Iteration 30, loss = 0.29435235
Iteration 31, loss = 0.28381638
Iteration 32, loss = 0.28344874
Iteration 33, loss = 0.28664157
Iteration 34, loss = 0.28201512
Iteration 35, loss = 0.30381254
Iteration 36, loss = 0.28859155
Iteration 37, loss = 0.28307353
Iteration 38, loss = 0.27629121
Iteration 39, loss = 0.28956881
Iteration 40, loss = 0.27866546
Iteration 41, loss = 0.27579608
Iteration 42, loss = 0.27569568
Iteration 43, loss = 0.27582433
Iteration 44, loss = 0.26880408
Iteration 45, loss = 0.27511154
Iteration 46, loss = 0.27161549
Iteration 47, loss = 0.27419202
Iteration 48, loss = 0.26126466
Iteration 49, loss = 0.26199175
Iteration 50, loss = 0.26725676
Iteration 51, loss = 0.28853985
Iteration 52, loss = 0.26947420
Iteration 53, loss = 0.26211411
Iteration 54, loss = 0.25938544
Iteration 55, loss = 0.26857041
Iteration 56, loss = 0.25798855
Iteration 57, loss = 0.26271429
Iteration 58, loss = 0.25689521
Iteration 59, loss = 0.25916097
Iteration 60, loss = 0.26409842
Iteration 61, loss = 0.25771600
Iteration 62, loss = 0.25348481
Iteration 63, loss = 0.26668242
Iteration 64, loss = 0.26129754
Iteration 65, loss = 0.25219861
Iteration 66, loss = 0.26361658
Iteration 67, loss = 0.26213744
Iteration 68, loss = 0.25336814
Iteration 69, loss = 0.24877877
Iteration 70, loss = 0.25913061
Iteration 71, loss = 0.23909172
Iteration 72, loss = 0.24229542
Iteration 73, loss = 0.24567991
Iteration 74, loss = 0.25744637
Iteration 75, loss = 0.24437223
Iteration 76, loss = 0.24980591
Iteration 77, loss = 0.24078073
Iteration 78, loss = 0.24201339
Iteration 79, loss = 0.23718633
Iteration 80, loss = 0.23667047
Iteration 81, loss = 0.23203361
Iteration 82, loss = 0.23713434
Iteration 83, loss = 0.23507092
Iteration 84, loss = 0.23445824
Iteration 85, loss = 0.24622427
Iteration 86, loss = 0.23677707
Iteration 87, loss = 0.23992299
Iteration 88, loss = 0.23037143
Iteration 89, loss = 0.24550348
Iteration 90, loss = 0.24489962
Iteration 91, loss = 0.23332251
Iteration 92, loss = 0.22861684
Iteration 93, loss = 0.22639258
Iteration 94, loss = 0.23143635
Iteration 95, loss = 0.22033877
Iteration 96, loss = 0.22330858
Iteration 97, loss = 0.22057299
Iteration 98, loss = 0.22605887
Iteration 99, loss = 0.22837010
Iteration 100, loss = 0.22256745
Iteration 101, loss = 0.21793730
Iteration 102, loss = 0.22952332
Iteration 103, loss = 0.22179029
Iteration 104, loss = 0.22564157
Iteration 105, loss = 0.22158592
Iteration 106, loss = 0.21497367
Iteration 107, loss = 0.23294095
Iteration 108, loss = 0.22636539
Iteration 109, loss = 0.23244931
Iteration 110, loss = 0.22895824
Iteration 111, loss = 0.22445071
Iteration 112, loss = 0.22729813
Iteration 113, loss = 0.21721416
Iteration 114, loss = 0.21279674
Iteration 115, loss = 0.21721839
Iteration 116, loss = 0.21423005
Iteration 117, loss = 0.21913624
Iteration 118, loss = 0.22025065
Iteration 119, loss = 0.21526459
Iteration 120, loss = 0.21044927
Iteration 121, loss = 0.23141314
Iteration 122, loss = 0.21236207
Iteration 123, loss = 0.21004061
Iteration 124, loss = 0.20822062
Iteration 125, loss = 0.22130588
Iteration 126, loss = 0.24383089
Iteration 127, loss = 0.21161867
Iteration 128, loss = 0.20686226
Iteration 129, loss = 0.20752105
Iteration 130, loss = 0.21419925
Iteration 131, loss = 0.23660127
Iteration 132, loss = 0.21136578
Iteration 133, loss = 0.19919853
Iteration 134, loss = 0.20199880
Iteration 135, loss = 0.20025260
Iteration 136, loss = 0.20091065
Iteration 137, loss = 0.21393338
Iteration 138, loss = 0.21191659
Iteration 139, loss = 0.19782925
Iteration 140, loss = 0.21558456
Iteration 141, loss = 0.20307927
Iteration 142, loss = 0.21684534
Iteration 143, loss = 0.19874111
Iteration 144, loss = 0.20879928
Iteration 145, loss = 0.19615457
Iteration 146, loss = 0.19112667
Iteration 147, loss = 0.18992562
Iteration 148, loss = 0.19542486
Iteration 149, loss = 0.19472957
Iteration 150, loss = 0.19087810
Iteration 151, loss = 0.19607710
Iteration 152, loss = 0.19351985
Iteration 153, loss = 0.19128006
Iteration 154, loss = 0.19740496
Iteration 155, loss = 0.18739213
Iteration 156, loss = 0.20098962
Iteration 157, loss = 0.18309588
Iteration 158, loss = 0.18746060
Iteration 159, loss = 0.18361530
Iteration 160, loss = 0.19982297
Iteration 161, loss = 0.19924383
Iteration 162, loss = 0.19393939
Iteration 163, loss = 0.18661376
Iteration 164, loss = 0.19358540
Iteration 165, loss = 0.18682613
Iteration 166, loss = 0.19250890
Iteration 167, loss = 0.19171172
Iteration 168, loss = 0.18457714
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

EVALUATION METRICS

---

In [ ]:
from sklearn.metrics import accuracy_score
Accuracy=accuracy_score(y_test,y_pred)
print(Accuracy)

0.9411428571428572

In [ ]:
error=(1-Accuracy)
print(error)

0.05885714285714283